# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# MacOS / Linux system files
.DS_Store
*.swp

# Logs and temp
*.log
*.tmp

# CSV / data files (если не нужны в git)
*.csv

# Python packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/
